.galleryForm {
	width: 800px;
}

.outputWrapper {
	display: block;
	width: 100%;
	height: 450px;
	background-color: grey;

	.outputImage {
		width: 100%;
		height: 100%;
	}
}

.navButton {
	width: 100px;
	height: 60px;
	position: absolute;
	top: 50%;

	&.prevButton {
		left: 0;
	}

	&.nextButton {
		right: 0;
	}	
}

.thumbnails {
	display: flex;
    width: 100%;
    height: 200px;

	.thumbnail {
		-webkit-appearance: none;
		flex: 1;
		height: 200px;
		cursor: pointer;
		background-position: center;

		&:nth-child(1) {
			background-image: url("/assets/2d/1.png");
		}

		&:nth-child(2) {
			background-image: url("/assets/2d/2.png");
		}

		&:nth-child(3) {
			background-image: url("/assets/2d/3.png");
		}

		&:nth-child(4) {
			background-image: url("/assets/2d/4.png");
		}
		
	}
}

