.galleryForm {
	position: relative;
	width: 800px;
}

.outputWrapper {
	display: block;
	width: 100%;
	height: 450px;
	background-color: grey;

	.outputImage {
		width: 100%;
		height: 100%;
	}
}

.navButton {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 175px;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	$button-offset: 10px;
	$button-hover-offset: 10px;
	$button-shadow-offset: 3px;

	.svg {
		transition-property: transform, filter;
		transition-duration: 0.25s;
		transition-timing-function: ease;
		transform: translateX(0);
		filter: drop-shadow(0 0 0 transparent);
	}

	&.prevButton {
	    left: $button-offset;
	    
	    &:hover .prevSVG {
			transform: translateX(-$button-hover-offset);
		}

		&:focus .prevSVG {
			filter: drop-shadow(-$button-shadow-offset 0 0 pink);
		}
	}

	&.nextButton {
		right: $button-offset;
		
		&:hover .nextSVG {
			transform: translateX($button-hover-offset);
		}

		&:focus .nextSVG {
			filter: drop-shadow($button-shadow-offset 0 0 pink);
		}
	}	
}

.thumbnails {
	display: flex;
    width: 100%;
    height: 200px;

	.thumbnail {
		-webkit-appearance: none;
		flex: 1;
		height: 200px;
		cursor: pointer;
		background-position: center;
		transition-property: filter, outline-color;
		transition-duration: 0.3s;

		&:nth-child(1) {
			background-image: url("/assets/2d/1.png");
		}

		&:nth-child(2) {
			background-image: url("/assets/2d/2.png");
		}

		&:nth-child(3) {
			background-image: url("/assets/2d/3.png");
		}

		&:nth-child(4) {
			background-image: url("/assets/2d/4.png");
		}

		&:focus {
			filter: brightness(1.2);
			outline-color: pink;
		}
		
	}
}

