@import "SRC/shared/reset.scss";

.galleryForm {
	position: relative;
	width: 800px;
}

.outputWrapper {
	display: block;
	width: 100%;
	height: 450px;
	background-color: grey;

	.outputImage {
		width: 100%;
		height: 100%;
	}
}

.navButton {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 175px;
	background-size: cover;
	background-color: transparent;
	cursor: pointer;
	$button-offset: 10px;
	$button-hover-offset: 10px;
	$button-shadow-offset: 3px;

	.svg {
		transition-property: transform, filter;
		transition-duration: 0.25s;
		transition-timing-function: ease;
		transform: translateX(0);
		filter: drop-shadow(0 0 0 transparent);
	}

	&.prevButton {
	    left: $button-offset;
	    
	    &:hover .prevSVG {
			transform: translateX(-$button-hover-offset);
		}

		&:focus .prevSVG {
			filter: drop-shadow(-$button-shadow-offset 0 0 pink);
		}
	}

	&.nextButton {
		right: $button-offset;
		
		&:hover .nextSVG {
			transform: translateX($button-hover-offset);
		}

		&:focus .nextSVG {
			filter: drop-shadow($button-shadow-offset 0 0 pink);
		}
	}	
}

.thumbnails {
	display: flex;
    width: 100%;
    height: 200px;

	.thumbnailInput {
		-webkit-appearance: none;

		&:focus + .thumbnailLabel {
			filter: brightness(1.4);
		}
	}

	.thumbnailLabel {
		flex: 1;
		height: 200px;
		cursor: pointer;
		
		::slotted(img) {
			width: 100%;
			height: 100%;
		}

		&:hover {
			filter: brightness(0.8);
		};
	}
}




